div{
    position: fixed;
    height: 48px;
    left: 4px;
    top: 4px;
    right: 4px;
    border-radius: 8px;
    background: #C2FF66;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

div >p{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.084px;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: #8AC92C;
    ;
    border-radius: 50%;
    display: inline-block;
    margin-left: 28px;
  }

.leftDots{
    padding: 150px ;
    position: relative;
    bottom: 4px;
}

.rightDots{
    padding: 150px ;
    position: relative;
    bottom: 4px;
}